.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
}
.landingPage__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  box-shadow: 0px 5px 8px -9px rgba(247, 238, 238, 0.75);
}

.landingPage__heading h1 {
  font-size: 3.2rem;
  font-weight: 200;
}

.landingPage__heading h2 {
  font-weight: 150;
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: white;
  font-style: italic;
}
.landingPage__heading img {
  height: 130px;
}

.landingPage__heading h1 span {
  color: rgb(131, 128, 128);
}

.landingPage__icons {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 8%;
}
.landingPage__icons > a {
  color: gray !important;
}

.landingPage__icons h2:hover,
.landingPage__icons a:hover {
  color: white !important;
  box-shadow: 0px 5px 8px -9px rgba(247, 238, 238, 0.75);
  cursor: pointer;
}

@media (max-width: 600px) {
  .landingPage__heading h1 {
    font-size: 2.4rem;
    font-weight: 200;
  }

  .landingPage__heading h2 {
    font-weight: 150;
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
    font-style: italic;
  }
  .landingPage__icons {
    font-size: 1.2rem;
  }
}
