.about {
  height: 100vh;
  width: 100%;
  display: inline-flex;
}
.about__leftSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 100;
}
.about__leftSide > h1 {
  font-weight: 100;
  font-size: 6rem;
}

.about__rightSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* height: 50vh; */
}
.about__rightSide #about__timeline {
  /* display: flex; */
  /* align-items: center; */
  margin-top: 7rem;
}

.about__rightSide Button {
  /* display: flex;
  flex-direction: row; */
  /* align-items: flex-end; */
  background-color: transparent;
  color: black;
  margin-top: 2rem;
  margin-left: 10rem;
}
.about__rightSide Button:hover {
  background-color: transparent;
  color: black;
  margin-top: 2rem;
  margin-left: 10rem;
}

/* .about__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
}
.about__links > a {
  color: white;
  padding: 8px;
  margin: 8px 0;
  box-shadow: 0px 5px 8px -9px rgba(245, 240, 240, 0.75);
  cursor: pointer;
}

.about__rightSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.about__main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 70%;
}

.about__mainItem {
  display: flex;
  flex-direction: column;

  flex: 1;
  justify-content: center;
  align-items: center;
}

.about__mainItem > h2 {
  padding: 5px;
}

.about__mainItem > h3 {
  display: flex;
  text-align: center;
  font-weight: 200;
  margin: 20px 0;
  width: 55%;
  height: 10px;
} */
/*
.about__school {

  display: flex;
  flex-direction: column;
}
.about__schoolOne,
.about__schoolTwo {
  margin: 20rem;
  border: 1px solid black;
} */
