.navBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 15px 20px;
  top: 500px;
  width: 10%;
  z-index: 100;
}

.navBar > a {
  -webkit-text-stroke: 0.1px white;
  text-align: center;
  color: gray;
  border-radius: 7px;
  margin: 15px 0;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  /* box-shadow: 0px 5px 8px -9px rgba(245, 240, 240, 0.75); */
}
.navBar > a:hover {
  color: black;
  background-color: transparent;
  /* border: 1px solid white; */
  -webkit-text-stroke: 0.6px white;
  zoom: 1.2;
}
