.about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about__leftSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 100;
}
.about__leftSide h1 {
  font-weight: 100;
  font-size: 5rem;
}
.about__menu {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__menu button {
  font-size: 1.1rem;
  background-color: transparent;
  margin: 0 2px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  color: gray;
  border: none;
}
.about__menu button:hover {
  color: white;
  box-shadow: 0px 5px 8px -9px rgba(245, 240, 240, 0.75);
}

.about__rightSide {
  flex: 1.5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.about__overView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 83vh;
  margin: 30px;
}
.about__heading {
  border: 1px solid white;
  margin: 20px;
  width: 80%;
}
.about__heading p {
  text-align: end;
}
.about__main {
  display: flex;
  justify-content: space-between;
  height: 20vh;
}
.about__mainItem {
  display: flex;
  flex: 1;
  max-width: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
}
.about__mainItem p {
  text-align: center;
  font-weight: 200;
  font-size: 1.1rem;
  width: 90%;
  height: 18%;
}

.about__education {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  margin: 20px;
  object-fit: contain;
}
.about__education ul {
  align-items: flex-start;
}

.about__education .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.about__bottom {
  display: flex;
  justify-content: space-evenly;
}
.about__bottom p:first-child {
  color: gray;
}

.about__timelineBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.about__timelineRight {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0;
}
.about__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__education img {
  height: 80px;
}
.about__workTop {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.about__workInfo {
  margin: 40px;
}
.about__workTop img {
  display: block;
  margin: 0 auto;
  height: 170px;
}
.about__workInfo {
  margin: 20px;
  padding: 15px;
}
.about__workInfo h3 {
  font-weight: 200;
}
.about__workInfo p {
  color: gray;
}
.about__workBottom {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.about__workRow {
  display: flex;
  flex: wrap;
  padding: 0 4px;
  width: 95%;
  justify-content: center;
}
.about__workColumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.about__workColumn Img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  opacity: 0.8;
}
.about__workColumn Img:hover {
  cursor: pointer;
  opacity: 1;
  zoom: 1.2;
}

@media (max-width: 600px) {
  .about {
    margin: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .about h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 10px 0 -20px 0;
  }
  .about__rightSide {
    display: flex;
    margin: -1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .about__overView {
    display: flex;
    justify-content: flex-start;
  }

  .about__heading {
    margin-top: 1rem;
  }

  .about__main {
    display: flex;
    justify-content: space-around;
    height: 60vh;
  }
  .about__mainItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
  }
  .about__mainItem p {
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    width: 100%;
    margin: 20px 0;
  }
  .about__timelineBody img {
    margin: 20px 0;
  }
  .about__bottom {
    display: flex;
    flex-direction: column;
  }
  .about__bottom p {
    display: flex;
    flex-direction: column;
    width: 120%;
  }
  .about__workTop img {
    height: 80px;
    margin-top: 2rem;
  }
  .about__workInfo h3 {
    font-size: 1.15rem;
    width: 75%;
  }
  .about__education__school {
    font-size: 2rem !important;
    text-align: center;
  }
  .about__timelineBody > img {
    margin-top: 3rem;
  }
}
