.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
.contact__img img {
  height: 180px;
}

.contactPage__icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
  margin-top: 1rem;
  padding: 1rem;
}
.contactPage__icons a {
  display: flex;
  font-size: large;
  font-weight: 100;
  margin: 8px 0;
}
.contactPage__icons a:hover {
  color: white;
}
.contactPage__icons p {
  margin: 0 2rem;
  color: aliceblue;
}
@media (max-width: 600px) {
  .contactPage__icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    margin-top: 1rem;
    margin-left: -14rem;
    padding: 1rem;
  }
}
