.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  height: 100vh;
  justify-content: space-around;
}
.navBar__timeline .MuiTimeline-root {
  width: 20%;
  flex-grow: 0;
  align-items: flex-start;
  font-size: small;
}
.navBar a {
  text-align: center;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.navBar a:hover {
  color: white !important;
  background-color: transparent;
  box-shadow: 0px 5px 8px -8px rgba(245, 240, 240, 1);
}

@media (max-width: 675px) {
  .navBar {
    visibility: hidden;
  }
}
