.about {
  height: 100vh;
  width: 100%;
  display: inline-flex;
}

.about__leftSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 100;
}
.about__leftSide > h1 {
  font-weight: 100;
  font-size: 6rem;
}
.about__menu {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__menu > button {
  font-size: 1.1rem;
  background-color: transparent;
  margin: 0 2px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  color: white;
  border: none;
  box-shadow: 0px 5px 8px -9px rgba(245, 240, 240, 0.75);
}

.about__rightSide {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__main {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}
.about__mainItem {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.about__mainItem > h2 {
  padding: 5px;
}

.about__mainItem > h3 {
  display: flex;
  justify-content: baseline;
  text-align: center;
  font-weight: 200;
  margin: 20px 0;
  width: 55%;
  height: 10px;
}

.about__education {
  display: flex;
  flex-direction: column;
  height: 90vh;

  width: 100%;
}

.about__school {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 17px;
  height: 50vh;
  box-shadow: 0px 5px 8px -9px rgba(27, 26, 26, 0.75);
  align-items: flex-start;
}

.about__school__leftSide {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.about__school__leftSide img {
  height: 150px;
  object-fit: contain;
}
.about__gmu__img {
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.about__school__rightSide {
  height: 40vh;
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__school__rightSide h2 {
  margin-bottom: 2rem;
  padding: 10px;
}
.about__school__rightSide p {
  margin-top: 1rem;
  padding: 10px;
}

.about__work {
  display: flex;
  height: 50vh;
  overflow-y: scroll;
  width: 90%;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 0px 5px 8px -9px rgba(27, 26, 26, 0.75); */
}

.about__work__leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  height: 40vh;
}
.about__work__leftSide img {
  height: 150px;
  object-fit: contain;
}

.about__work__rightSide {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}

.about__work__rightSide h2 {
  margin-bottom: 2rem;
  padding: 10px;
}
.about__work__rightSide p {
  margin-top: 1rem;
  padding: 10px;
}
