.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  height: 100vh;
  justify-content: space-around;
}
/* .navBar__timeline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 10%;
} */
.navBar__timeline .MuiTimeline-root {
  width: 20%;
  flex-grow: 0;
  align-items: flex-start;
  font-size: small;
}
.navBar a {
  text-align: center;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.navBar a:hover {
  color: white !important;
  background-color: transparent;
  box-shadow: 0px 5px 8px -8px rgba(245, 240, 240, 1);
}

/* @media screen and (min-width: 600px) {
  .navBar__timeline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    height: 80vh;
    width: 10%;
  }
  .navBar__timeline .MuiTimeline-root {
    display: flex;

    width: 20%;
    flex-grow: 0;
    border: 1px solid white;
    align-items: flex-start;
  }
} */
