.project {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  /* flex: 25%; */
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.project:hover {
  opacity: 1;
  zoom: 1.1;
}
.project h3 {
  position: absolute;
  /* font-size: 2.5rem; */
  font-weight: 400;
  color: white;
  background-color: rgb(22, 22, 22, 0.5);
}

.project button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: 0;
  border: none;
}

.project__modalImg {
  height: 400px;
  margin: 10px 0 10px 0;
}

.modal-w img {
  height: 400px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.modal-x img {
  height: 600px;
  margin: 0 -20rem 0;
  /* width: 100%; */
}

.modal-header {
  background-color: blanchedalmond;
}

.modal-body {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-body p {
  letter-spacing: 0.7px;
  font-weight: 300;
  word-spacing: 1px;
  margin: 2px 0;
}
.modal-body ul {
  margin-left: 1rem;
}

.project__icon {
  margin: 0 10px;
}
.project__link {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.project__link a:hover {
  color: white;
}

#project__date {
  text-align: end;
  color: gray;

  margin: 10px;
  padding: 10px;
  /* margin-left: 200px; */
}

@media (max-width: 600px) {
  .project h3 {
    position: absolute;

    /* font-size: 2.5rem; */
    font-weight: 400;
    color: white;
    background-color: rgba(110, 109, 109, 0.5);
  }
}
