.sideBar {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: small;

  margin: 0;
  padding: 0;
}

.sideBar .MuiTimeline-root {
  align-items: flex-start;
  font-size: small;
  border: 1px solid white;
}

.sideBar ul {
  margin-left: 2rem;
}

@media (max-width: 375px) {
  .sideBar {
    visibility: hidden;
  }
}
