.sideBar {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  margin-right: -30px;
}

.sideBar .MuiTimeline-root {
  align-items: flex-start;
  font-size: 10px;
}

.sideBar ul {
  margin-left: 2rem;
}

@media (max-width: 675px) {
  .sideBar {
    visibility: hidden;
  }
}
