.app {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.app::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.app__body {
  display: flex;
  flex-direction: column;
}

/* LOGO */
.app-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 6vmin;
  cursor: pointer;
  /* pointer-events: cursor; */
}
.landingPage-logo {
  height: 5vmin;
  color: gray !important;
}
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
  .landingPage-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
